
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Use custom fonts here */
}

.menuContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/menuBg.jpg'); 
    background-size: cover;
}

.loginBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/loginBackground.jpeg');
    background-size: cover;
}

.menuButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-family: Almendra SC;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

   .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    margin: 0 20px;
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form div {
    margin-bottom: 10px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #27ae60;
  }
